// Colors
$color-font-primary: #334466;
$color-font-secondary: #777777;
$color-font-accent: #ffffff;
$color-accent-primary: #2288ff;
$color-accent-secondary: #334466;
$color-back-primary: #ffffff;
$color-back-secondary: #d4d4d4;
$color-back-controllers: #f7f7f7;
$color-back-hover: #f1f1f1;

// Media quires
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1140px;
$xxl: 1440px;