section.container
    ul.list#noteList

    .buttons-list.buttons-list_note-list
        p.button-wrapper
            button.btn.btn_lite#getNoteList(type="button") Получить список
        p.button-wrapper
            button.btn.btn_dark#cleanNotesBtn(type="button" disabled) Очистить список